body {
    background-color: 94FFFA;
}

h1 {
    color: DE0BD3;
    text-align: center;
}

h2 {
    color: blue;
    text-align: center;
}

h3 {
    color: DE0B4A;
}
h4 {
    color: B00BDE;
}

h5 {
    color: 168A36;
}

h6 {
    color: EB4F2D;
}

p {
    color: 1111FA;
}